/* OrderConfirmation.css */



.order-confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: snow;
  }
  
  .msg {
    
    color: red;
    font-size: 35px;
    text-align: center;
    font-style: bold; 
    margin-bottom: 16px; 
    
  }

  
  
  /* Add additional styling as needed */
  